:root {
    --black: #3a312b;
    --primary: #fbf0e6;
    --secondary: #f4e1cd;
    --border: #474747;
    --golden: #a87c1f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration-line: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    /* font-family:'Poppins',sans-serif; */
    background-color: var(--primary);
    min-height: 100svh;
    max-width: 100svw;
    padding-top: 90px;
    letter-spacing: 1px;
}

html,
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    scroll-margin-top: 50px;
}

header {
    width: 80%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px auto;
    padding: 15px 4%;
    background-color: var(--black);
    color: var(--primary);
    border-radius: 60px;
    box-shadow: 0 6px 8px rgba(19, 16, 103, 0.453);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

nav ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    transition: 0.3s;
}

nav ul a {
    color: var(--primary);
    letter-spacing: 3PX;
}

nav ul a:hover {
    color: var(--golden);
}

nav ul li:hover {
    transform: scale(1.1);
}

.header-icons a {
    color: #adacac;
    font-size: 20px;
    padding-left: 20px;
}

/* ===============  main  ======================= */
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    padding: 0 5%;
    margin: 5% 0;
    /* margin-bottom: 8%; */
}

.main-text {
    max-width: 50%;
    height: 40%;
    font-size: 20px;
    margin: 6% 0;
}

.main-text h1 {
    font-size: 50px;
    color: var(--black);
}

.main-text h2 {
    font-size: 40px;
}

.main-text h2 span {
    color: var(--golden);
}

.main-text p {
    padding: 8% 0;
    color: var(--black);
}

#typing-text::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.main-btn button {
    padding: 12px 35px;
    border: 1px solid var(--black);
    background: var(--primary);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.first-btn button {
    background: var(--black);
    color: var(--primary);
}

.second-btn button {
    margin: 0 2%;
}

.main-btn button:hover:first-child {
    background: var(--primary);
    color: var(--black);
}

.main-btn button:hover {
    background: transparent;
    transform: scale(1.1);
}

.main-img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    border: 2px solid rgb(158, 152, 152);
    box-shadow: 0 0 25px var(--black),
        0 0 50px var(--black);
}

/* ========================== about =============================== */
.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 10%;
    padding: 130px 5%;
    background-color: var(--secondary);
    font-size: 20px;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.left-side h2 {
    font-size: 50px;
    color: var(--black);
}

.info-card {
    border: 2px solid var(--golden);
    border-left: 6px solid var(--golden);
    padding: 40px;
    margin: 20px 0;
    font-size: 25px;
}

.info-card h5 {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--border);
    letter-spacing: 3PX;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 50px;
    line-height: 1.4;
    color: var(--border);
}

.right-side p span {
    color: var(--golden);
    font-weight: bold;
    font-size: 40px;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.feature i {
    font-size: 40px;
    color: var(--golden);
    margin-bottom: 20px;
}

.feature h3 {
    margin-bottom: 10px;
}

/* ==========================skills=============================== */
.skills {
    background: var(--primary);
    padding: 60px 20px;
    text-align: center;
    padding: 130px 5%;

}

.skills h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--black);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
}

.card {
    width: 100%;
    max-width: 350px;
    height: 200px;
    perspective: 1000px;
}

.inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.front {
    background-color: var(--secondary);
    color: var(--black);
}

.back {
    background-color: var(--golden);
    color: var(--primary);
    transform: rotateY(180deg);
}


/* ==========================experience=============================== */
.experience {
    padding: 130px 5%;
    background-color: var(--secondary);
}

.title h3 {
    color: var(--golden);
    text-transform: uppercase;
    letter-spacing: 3PX;
    margin-bottom: 10px;
}

.title h2 {
    font-size: 60px;
    margin-bottom: 80px;
}

.timeline {
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: var(--border);
}

.timeline-item {
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
}

.timeline-item .date,
.timeline-item .middle,
.timeline-item .content {
    grid-row: 1;
}

.timeline-item.right .content {
    grid-column: 3;
}

.timeline-item.left .content {
    grid-column: 1;
    text-align: right;
}

.middle {
    display: flex;
    justify-content: center;
    position: relative;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: var(--golden);
    border-radius: 50%;
    z-index: 2;
    transition: transform 0.3s ease;
}

.date {
    font-weight: bold;
    color: var(--golden);
    letter-spacing: 2px;
}

.timeline-item.right .date {
    grid-column: 1;
    text-align: right;
    padding-right: 30px;
}

.timeline-item.left .date {
    grid-column: 3;
    padding-left: 30px;
}

.content {
    border: 1px solid var(--border);
    padding: 40px;
    background-color: var(--primary);
    transition: 0.4s;
}

.content:hover {
    transform: translateY(-10px);
}

.content h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

.content h4 {
    color: var(--golden);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 14px;
}

.content p {
    line-height: 1.8;
    color: var(--border);
}

.timeline-item:has(.content:hover) .circle {
    transform: scale(2.5);
}

.timeline-item:has(.date:hover) .circle {
    transform: scale(2.5);
}

/* ==========================projects=============================== */
.projects {
    padding: 130px 5%;
    background: var(--primary);
}

.title-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.view-all {
    text-align: center;
    margin-top: 60px;
}

.view-all a {
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid var(--black);
    background: var(--black);
    color: var(--primary);
    letter-spacing: 3px;
    transition: 0.4s;
}

.view-all a:hover {
    background: transparent;
    color: var(--black);
    transform: scale(1.05);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.project-card {
    position: relative;
    overflow: hidden;
    height: 350px;
    cursor: pointer;
    border: 1px solid var(--border);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
    filter: grayscale(100%);
}

.project-card .overlay {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(10px);
    transition: 0.6s;
}

.project-card .overlay h3 {
    font-size: 35px;
    color: var(--primary);
    margin-bottom: 15px;
}

.project-card .overlay p {
    color: var(--secondary);
    line-height: 1.7;
    margin-bottom: 20px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.project-card .tech span {
    padding: 8px 15px;
    background: var(--border);
    color: var(--primary);
    font-size: 12px;
    letter-spacing: 2px;
}

.project-card .buttons a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 25px;
    background: var(--golden);
    color: white;
    transition: 0.4s;
}

.project-card .buttons a:hover {
    transform: scale(1.05);
}

.project-card:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.project-card:hover .overlay {
    bottom: 0;
}

/*===========================contact=============================== */
.contact {
    background-color: var(--secondary);
    padding: 130px 5%;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.contact-left-side,
.contact-right-side {
    flex: 1;
    min-width: 300px;
}

.contact-left-side h3 {
    font-size: 35px;
    color: var(--black);
}

.contact-left-side p {
    margin: 20px 0;
    line-height: 1.3;
    font-size: 18px;
    color: var(--border);
}

.contact-left-side a {
    color: var(--black);
    font-size: 22px;
    font-weight: bold;
    transition: 0.4s;
}

.contact-left-side a:hover {
    color: var(--golden);
}

.contact-right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-right-side h3 {
    font-size: 30px;
    color: var(--black);
    margin-bottom: 10px;
}

.contact-icons {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.left-icons,
.right-icons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
}

.contact-icons a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: var(--border);
    padding: 10px 14px;
    border: 1px solid transparent;
    transition: 0.3s ease;
    border-radius: 8px;
}

.contact-icons a:hover {
    color: var(--golden);
    border: 1px solid var(--golden);
    transform: translateX(5px);
    background: rgba(168, 124, 31, 0.05);
}

.contact-icons i {
    color: var(--golden);
    font-size: 25px;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: var(--backgroundMain);
    color: var(--black);
}


@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    main {
        flex-direction: column;
        text-align: center;
    }

    .main-text {
        max-width: 100%;
    }

    .main-img {
        width: 250px;
        height: 250px;
    }

    nav ul {
        gap: 10px;
    }

    nav ul a {
        font-size: 10px;
        letter-spacing: 0;
    }

    .about {
        grid-template-columns: 1fr;
        gap: 3%;
    }

    .features {
        grid-template-columns: 1fr;
        display: none;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        max-width: 100%;
    }
    .card .back p{
        font-size: 13px;
    }

    .timeline::before {
        left: 10px;
    }

    .timeline-item {
        grid-template-columns: 1fr;
        padding-left: 30px;
    }

    .timeline-item .content {
        grid-column: 1;
        text-align: left !important;
    }

    .date {
        text-align: left !important;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    section {
        padding: 80px 20px !important;
    }

    .title h2,
    .skills h2,
    .left-side h2 {
        font-size: 35px !important;
        line-height: 1.2;
    }

    .main-text h1 {
        font-size: 32px;
    }

    .main-text h2 {
        font-size: 24px;
    }

    .content h3,
    .project-card .overlay h3 {
        font-size: 24px;
    }

    p {
        font-size: 15px;
    }

}

@media (max-width: 1024px) {
    header {
        width: 95%;
        justify-content: center;
        padding: 15px 20px;
        border-radius: 20px;
    }

    .header-icons {
        display: none;
    }

    nav ul {
        gap: 15px;
        justify-content: center;
    }

    nav ul a {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}